version: "3.9"

services:
   mysql:
       image: mysql:8.0
       container_name: mysql_container
       environment:
          MYSQL_ROOT_PASSWORD: password
          MYSQL_DATABASE: test_db

       healthcheck:
          test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
          interval: 30s
          timeout: 10s
          retries: 5
      
       ports:
          - "3306:3306"
       volumes:
          - mysql_data:/var/lib/mysql

       networks:
          - app-network

  

    nodejs:
       build : 
       container_name: nodejs_container
       depends_on:
          mysql_container:
              condition: service_healthy

       ports:
            - "5000:5000"
       environment:
            DB_HOST: mysql
            DB_USER: root
            DB_PASSWORD: password
            DB_NAME: test_db
            port: 5000

       networks:
          - app-network
volumes:
   mysql_data: null

networks:
    app-network:
        driver: bridge  
      
